@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #000000;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 1200px;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*border: 1px solid #333;*/
  /*box-shadow: 0px 0px 15px gray;*/
}

.Header, .Footer {
  width: 100%;
  background-color: #18534e;
  color: #eeeeee;
  padding: 1rem;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  justify-content: center;
}

.Header h1 {
  font-size: 1.5rem;
}

.Header svg {
  font-size: 2rem;
}

.Header img{
  width: 90px;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.searchForm {
  width: 80%;
  padding: 1rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 1rem;
}

.Nav li:hover,
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a  {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a,
.Nav li:focus a {
  cursor: pointer;
}

.rowC, .creationBox{
  display:flex;
  flex-direction:row;
  font-size: 0.7em;
  width: 100%;
}

.Home, .CustomSoldier, .SoldierBox, .About, .Missing, .RandomSoldier {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #051d1a;
  color: white;
  min-height: 350px;
}

.creationBox, .showRoom{
  width: 100%;
}
.soldierName{
  text-transform: uppercase;
  background-color: #c5c273;
  color: black;
  padding: 6px 8px 6px 15px;
  font-weight: bold;
  border-radius: 4px;
}
.soldierDescription{
  background-color: #b5e3af;
  padding: 6px 8px 6px 15px;
  border-radius: 6px;
  margin-bottom: 6px;
  margin-top: 6px;
  font-size: 13px;
  color: black;
 }

.soldierDescription p {
  font-family: Roboto;
  margin-bottom: 5px;
}
.soldierDescription p::first-letter {
  font-weight: bolder;
}

.post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.Home .post a {
  text-decoration: none;
}

.Home .post a,
.Home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.postBody {
  margin: 1rem 0;
}

.CustomSoldierForm {
  display: flex;
  flex-direction: column;
}

.CustomSoldierForm label {
  margin-top: 1rem;
}

.CustomSoldierForm input[type='text'],
.CustomSoldierForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 30px;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  border: 0;
}

.CustomSoldierForm textarea {
  height: 100px;
}

.CustomSoldierForm button {
  margin-top: 1rem;
  height: 30px;
  min-width: 48px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: #3a7052;
  color: white;
  border:0px;
}
.CustomSoldierForm button:hover{
  background-color: #71b58f;
}

.opacityButton{
  opacity: 0.6;
  cursor: initial !important;
  background-color: #3a7052 !important;
}


.Missing p, .SoldierBox p, .CustomSoldier p {
  margin-top: 1rem;
}

.SoldierBox button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.deleteButton {
  background-color: #61050f;
  padding: 4px;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border-color: #42050c;
  font-size: 10px;
}

.editButton {
  background-color: #61050f;
  padding: 4px;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border-color: #42050c;
  font-size: 10px;
}

.squareImage{
  width:20%;
}

.statusMsg {
  margin-top: 2rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container{
  padding-top: 17px;
  margin: auto;
  width: 9%;
}


.creationBox button {
  font-size: 1.1em;
}
.creationBox input {
  font-size: 1.1em;
}
.creationBox {
  flex: 0 0 135px;
  /*font-size: 9px;*/
}
.showRoom{
  flex: 1;
}
.soldier img {
  min-width: 185px;
}


@media only screen and (min-width: 610px) {
  html {
    font-size: 22px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover,
  .Nav li:focus,
  .Nav li:hover a,
  .Nav li:focus a  {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: .5rem 0;
  }

  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .CustomSoldierForm textarea {
    height: 300px;
  }
  .creationBox{
    flex: 0 0 200px;
  }
  .creationBox button {
    font-size: 1.2em;
  }
  .creationBox input {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }
  .creationBox{
    flex: 0 0 300px;
  }
  .creationBox button {
    font-size: 1.2em;
  }
  .creationBox input {
    font-size: 1.2em;
  }
}
